body
{
background-color:#003972;
color:white;
}
#lo
{
width:650px;
height:120px;
margin-left:30%;
}

#btn3
{

width:100px;
height:40px;
top:10px;
margin-left:10%;
font-size:14px;
}



#Adduser
{
color:white;
line-height: 23px;
font-size: 15px;
}

#form1
{
margin-left:30%;
}

#login 
{
width:290px;
}
#userid 
{
width:290px;
}
#password
{
width:290px;
}

#bal
{
width:290px;
}

#button1 
{
width:100px;
height:40px;
}
