body
{
background-color:#F6F4F0;
}
#lo
{
width:650px;
height:140px;
margin-left:25%;
}

p
{
font-size:30px;
font-family:lucidabright;
color:black;
margin-left:40%;
}

#loginForm
{
font-size:20px;
font-color:;
font-family:microsoftsansserif;
margin-left:40%;
}

#l_login 
{
width:290px;
}
#l_password
{
width:290px;
}

#button1 
{
width:100px;
height:40px;
}

#button2
{
margin-left:80px;
width:100px;
height:40px;
}